<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyrigiht ©2016 Rails101
    <br>Design by
    <a href="http://course.growthschool.com/courses/rails-101" target=_new>nieyicheng</a>
  </p>
</footer>
